.body {
    transition: 0.5s;
}

.effect{
    filter: opacity(0.8);
    transition: 0.3s;
}

.effect:hover{
    filter: opacity(1);
}

.newsticker {
    width: 100%;
    background-color: black;
    height: 4%;
    font-size: 100%;
    color: white;
    font-weight: bold;
    align-content: center;
}

.smalltext {
    filter: opacity(0.7);
}

.bigtext {
    font-weight: bold;
}

.game {
    width: 100%;
    height: 95%;
    display: flex;
    text-align: center;
    min-width: unset;
    min-height: unset;
    transform-origin: center center;
    overflow: hidden;
    animation-direction: reverse !important;
}

.content_menu {
    width: 80%;
    height: 100%;
    margin-left: 1%;
    display: none;
}

.stats_menu1 {
    width: 100%;
    height: 90%;
}

.stats_menu2 span {
    font-size: 1vw;
    color: white;
}

.option {
    width: 20%;
    height: 15%;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(109, 109, 109);
    background-color: rgb(67, 67, 67);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    color: white;
    align-content: center;
    display: inline-block;
    vertical-align: bottom;
}

.optionHard {
    width: 20%;
    height: 15%;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(147, 0, 0);
    background-color: rgb(255, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    color: black;
    align-content: center;
    display: inline-block;
    vertical-align: bottom;
}

.option1-1 {
    width: 50%;
    height: 20%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(109, 109, 109);
    background-color: rgb(67, 67, 67);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    color: white;
    align-content: center;
    display: inline-block;
    vertical-align: bottom;
}

.option2 {
    width: 20%;
    height: 15%;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(109, 109, 109);
    background-color: rgb(67, 67, 67);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    color: white;
    display: inline-block;
    vertical-align: bottom;
}

.menus {
    border-style: solid;
    border-width: 0.4vw;
    border-color: white;
    border-left: none;
    border-top: none;
    border-bottom: none;
    display: inline-block;
    width: 20%;
    height: 100%;
}

.dimension-stuff {
    display: flex;
    width: 100%;
    height: 60%;
}

.dimensions {
    display: inline-block;
    width: 50%;
    margin-right: 2%;
    text-align: left;
}

.dimensions2 {
    display: inline-block;
    width: 50%;
}

.dimensionBg {
    height: 8%;
    align-items: center;
    background-color: rgb(0, 85, 85);
}

.dimensionNoBg {
    height: 8%;
    align-items: center;
}

.tickspeed-stuff {
    text-align: center;
    width: 100%;
    height: 30%;
}

.buyDim {
    background-color: rgb(0, 59, 59);
    border-style: outset;
    border-width: 3px;
    align-content: center;
    width: 25%;
    height: 100%;
    float: right;
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
}

.tickspeed {
    border-style: outset;
    border-width: 4px;
    border-color: red;
    background-color: rgb(0, 59, 59);
    align-content: center;
    width: 40%;
    height: 30%;
    font-family: 'Courier New', Courier, monospace;
}

.sacrifice {
    border-style: outset;
    border-width: 3px;
    border-color: rgb(111, 0, 155);
    background-color: rgb(0, 16, 59);
    align-content: center;
    width: 60%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.sacrifice-stuff {
    text-align: center;
    width: 100%;
    height: 8%;
}

.dimexpanse {
    border-style: solid;
    border-width: 4px;
    border-color: red;
    background-color: rgb(0, 40, 40);
    align-content: center;
    width: 60%;
    height: 30%;
    font-family: 'Courier New', Courier, monospace;
}

.star {
    border-style: solid;
    border-width: 4px;
    border-color: red;
    background-color: rgb(0, 40, 40);
    align-content: center;
    width: 60%;
    height: 30%;
    font-family: 'Courier New', Courier, monospace;
}

.menu1 {
    border-style: outset;
    border-width: 5px;
    border-color: rgb(0, 27, 125);
    background-color: rgb(0, 122, 159);
    align-content: center;
    width: 100%;
    height: 10%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 1.5vw;
    align-items: center;
    text-align: left;
    font-weight: bolder;
    background-image: url(images/menu1Bg.png);
    background-repeat: repeat-x;
    background-size: 20%;
}

.menu2 {
    border-style: outset;
    border-width: 5px;
    border-color: rgb(125, 123, 0);
    background-color: rgb(231, 224, 0);
    align-content: center;
    width: 100%;
    height: 10%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 1.5vw;
    align-items: center;
    text-align: left;
    font-weight: bolder;
    background-image: url(images/achievementsBg.png);
    background-repeat: repeat-x;
    background-size: 15%;
}

.menu3{
    border-style: outset;
    border-width: 5px;
    border-color: rgb(78, 78, 78);
    background-color: rgb(181, 181, 181);
    align-content: center;
    width: 100%;
    height: 10%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 1.5vw;
    align-items: center;
    text-align: left;
    font-weight: bolder;
    background-image: url(images/statsBg.png);
    background-repeat: repeat-x;
    background-size: 20%;
    background-position-y: center;
}

.menu4{
    border-style: outset;
    border-width: 5px;
    border-color: rgb(51, 51, 51);
    background-color: rgb(181, 181, 181);
    align-content: center;
    width: 100%;
    height: 10%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 1.5vw;
    align-items: center;
    text-align: left;
    font-weight: bolder;
    background-image: url(images/settingsBg.png);
    background-repeat: repeat-x;
    background-size: 15%;
    background-position-y: center;
}

.menu5{
    border-style: outset;
    border-width: 5px;
    border-color: rgb(63, 0, 135);
    background-color: rgb(63, 0, 84);
    align-content: center;
    width: 100%;
    height: 10%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 1.5vw;
    align-items: center;
    text-align: left;
    font-weight: bolder;
    background-image: url(images/collapseBg.png);
    background-repeat: repeat-x;
    background-size: 50%;
    background-position-y: center;
    display: none;
}

.menu1-1{
    border-style: outset;
    border-width: 4px;
    border-color: rgb(0, 110, 110);
    background-color: rgb(0, 58, 58);
    align-content: center;
    width: 100%;
    height: 25%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 1.1vw;
    align-content: center;
    text-align: center;
    font-weight: bolder;
    background-image: url(images/popupBg.png);
    background-repeat: repeat-x;
    background-size: 20%;
    background-position-y: center;
}

.change_statMenu{
    border-style: outset;
    border-width: 3px;
    border-color: rgb(52, 52, 52);
    background-color: rgb(130, 130, 130);
    align-content: center;
    width: 20%;
    height: 5%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 1.3vw;
}

.stats_effectsDiv {
    background-color: rgb(0, 83, 83);
    border-bottom: none;
    width: 97%;
    color: white;
    padding: 10px;
    text-align: center;
    margin: auto;
    font-size: 1.6vw;
    font-weight: bold;
    height: 3%;
    margin-top: 1%;
}

.stats_effectsDrop {
    display: none;
    background-color: #f1f1f1;
    padding: 10px;
    border-color: rgb(74, 121, 121);
    background-color: rgb(0, 83, 83);
    border-width: 0.5vh;
    border-style: solid;
    width: 97%;
    margin: auto;
    border-top: none;
    border-right: none;
    border-left: none;
}

.stats_effectsDrop font {
    display: block;
}

.bgStar {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(0, 66, 66);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); /*Thanks, ChatGPT*/
    opacity: 0;
    transform-origin: center;
    z-index: -1;
}

.bgStar2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(71, 0, 93);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); /*Thanks, ChatGPT*/
    opacity: 0;
    transform-origin: center;
    z-index: -1;
}

@keyframes starAnim {
    0% { opacity: 0; transform: scale(0.5) rotate(0deg); }
    50% { opacity: 1; transform: scale(1) rotate(var(--rotation-deg)); }
    100% { opacity: 0; transform: scale(0.5) rotate(var(--rotation-deg*2)); }
}

.popup {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 50%;
    height: 40%;
    border-style: solid;
    border-color: rgb(64, 101, 99);
    border-width: 0.5vw;
    background-color: rgb(23, 35, 51);
    z-index: 1;
    color: white;
    text-align: center;
    background-image: url(images/popupBg.png);
    background-size: 20%;
    opacity: 1;
    border-left: none;
    border-right: none;
}

.popupBg {
    background-color: rgb(0,0,0,0.5);
    width: 100%;
    height: 95%;
    display: none;
    position: absolute;
    z-index: 1;
}

.popupTitle {
    font-size: 3vw;
    font-weight: bold;
    width: 100%;
    height: 20%;
    margin: auto;
    align-items: center;
    border-bottom: rgb(98, 155, 152);
    border-style: solid;
    border-width: 0.3vw;
    border-top: none;
    border-left: none;
    border-right: none;
}

.closePopup {
    width: 30%;
    height: max-content;
    background-color: rgb(0, 174, 0);
    border-style: outset;
    border-width: 0.3vw;
    color: black;
    border-color: rgb(0, 102, 0);
    font-size: 1.75vw;
    font-weight: bold;
    align-self: center;
    position: relative;
    bottom: -40%;
    align-items: center;
    margin: auto;
}

.achDiv {
    width: 80%;
    height: max-content;
    margin: auto;
}

.achievement {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
}

.achievement2 {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
}

.achInfo {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    display: none;
    z-index: 1;
    min-width: 20vw;
}

.achTitle {
    font-weight: bold;
    font-size: 1.3vw;
    display: block;
}

.achDesc {
    font-size: 1vw;
    opacity: 0.8;
}

.ED_buyStuff {
    width: 7vw;
    height: max-content;
    border-style: outset;
    border-color: rgb(0, 108, 108);
    border-width: 3px;
    background-color: rgb(0, 59, 59);
    color: white;
    float: right;
}

.ED_buyStuff2 {
    width: 5vw;
    height: max-content;
    border-style: outset;
    border-color: rgb(0, 108, 108);
    border-width: 3px;
    background-color: rgb(0, 59, 59);
    color: white;
    float: right;
}

.achGotDiv {
    position: absolute;
    width: 25%;
    height: 30%;
    right: 0;
    top: 6%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.achNotification {
    width: 90%;
    height: 50px;
    background-color: yellow;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(161, 161, 0);
    z-index: 1;
}

.sachNotification {
    width: 90%;
    height: 50px;
    background-color: rgb(58, 0, 109);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(77, 0, 145);
    z-index: 1;
}

@keyframes getAchievement {
    0%{opacity: 0;}
    10%{opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}

.progressBar {
    width: 80%;
    height: 3%;
    left: 10%;
    position: relative;
    background-color: rgb(96, 96, 96);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(50, 50, 50);
    border-radius: 1vw;
}

.progressBar2 {
    height: 100%;
    background-color: rgb(0, 172, 0);
    border-radius: 1vw;
}

.options_topBarbtn {
    background-color: #6e816f;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#options_topBarbtn {
    width: 75%;
    height: 20%;
    background-color: rgb(129, 129, 129);
    font-size: 1vw;
    font-weight: bold;
}

#options_notation {
    width: 75%;
    height: 20%;
    background-color: rgb(129, 129, 129);
    font-size: 0.7vw;
    font-weight: bold;
}

.options_topBar {
    display: none;
    position: absolute;
    background-color: rgb(88, 88, 88);
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 15%;
}

.options_topBar a {
    width: 100%;
    font-size: 1vw;
    height: max-content;
    color: black;
    display: inline-block;
    opacity: 0.7;
    transition: 0.3s;
    background-color: rgb(105, 105, 105);
    border-style: solid;
    border-color: rgb(155, 155, 155);
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    border-width: 2px;
    border-right: none;
    border-left: none;
    border-top: none;
}

.options_topBar a:hover {
    opacity: 1;
    background-color: rgb(148, 148, 148);
}

.options_topBardropdown:hover .options_topBar {
    display: block;
}

@keyframes collapseAnim {
    0%{scale: 0};
    50%{scale: 0.5};
    100%{scale: 1};
}

.collapseBgEff {
    position: absolute;
    height: 60%;
    aspect-ratio: 1/1;
    background: rgb(53, 0, 69);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transform-origin: center;
    z-index: -1;
    animation: collapseBgAnim 8s linear infinite;
    left: 40%;
    top: 20%;
}

@keyframes collapseBgAnim {
    0%{transform:rotate(360deg);};
}

@keyframes collapseBgAnim2 {
    0%{opacity: 0;}
    50%{transform: translateY(16vh) rotate(var(--rotation-deg)); opacity: 1;}
    100%{transform: translateY(32vh) rotate(0); opacity: 0;}
}

@keyframes collapseBgAnim2-1 {
    0%{opacity: 0;}
    50%{transform: translateY(-16vh) rotate(var(--rotation-deg)); opacity: 1;}
    100%{transform: translateY(-32vh) rotate(0); opacity: 0;}
}

.gameLink {
    margin: 10%;
    font-size: 1vw;
    font-weight: bold;
    color: white;
    text-align: center;
}
